:root {
  --grey: rgb(179, 176, 176);
}

html {
  background-color: black;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 1400px;
  padding: 15px;
  margin: auto;
}

.selectedItem {
  color: rgb(179, 176, 176);
  font-size: 2rem;
}

.chart-switcher .selectedItem {
  font-size: 1.5rem;
}

.selectContainer .listItem .item {
  color: rgb(179, 176, 176);
}

.in-content-1 .card {
  min-height: 100%;
}

.in-content-1 .card {
  min-height: 350px;
}

.select-box-theme {
  --borderRadius: 0;
  --placeholderColor: rgba(179, 176, 176, 0.35);
  --background: transparent;
  --inputColor: var(--grey);
  --border: 1px solid var(--grey);
  --listBackground: black;
  --listBorderRadius: 0;
  --itemIsActiveBG: rgb(0, 186, 230);
  --itemHoverBG: rgb(22, 69, 82);
  --listShadow: 0 0 1px 1px var(--grey);
  --itemFirstBorderRadius: 0;
}
